<% include header.ejs %>
      <div class="admin_container">
        <% include admin_menu.ejs %>
        <section class="admin_main_section">
          <div class="admin_content">
          <p class="admin_main_text">관리자 <%= isLogin%>님 환영합니다 :)</p>
        </section>
      </div>
<% include footer.ejs %>
