<div class="admin_menu">
    <ul class="admin_menu_list">
      <li><strong>M E N U</strong></li>
      <li><a href="/admin/parkinglog">주차 현황</a></li>
      <li><a href="/admin/membership">정기 주차</a></li>
      <li><a href="/admin/membership/add">신규 등록</a></li>
      <li><a href="/admin/changefare">주차 요금</a></li>
    </ul>
  </div>