      <footer>
        <div class="footer_list">
          <div class="footer_item1">
            <span><a href="#">회사소개</a></span>
            <span><a href="#">｜</a></span>
            <span><a href="#">운영정책</a></span>
            <span><a href="#">｜</a></span>
            <span><a href="#">이용약관</a></span>
            <span><a href="#">｜</a></span>
            <span><a href="#">제휴문의</a></span>
            <span><a href="#">｜</a></span>
            <span><a href="#">인재채용</a></span>
            <span><a href="#">｜</a></span>
            <span><a href="#">개인정보처리방침</a></span>
            <span><a href="#">｜</a></span>
            <span><a href="#">고객센터</a></span>
          </div>
          <div class="footer_item2">Copyright © 90 Parking Lot   Corp.   All     rights reserved.</div>
        </div>
      </footer>
    </div>
  </body>
</html>