<% include header.ejs %>
      <div class="container">
        <div class="img_wrapper">
        <img src="/images/home_bg.jpg" alt="main_img">
        </div>
        <section class="home_section">
          <div class="home_content">
          <span class="home_title">90PARKING LOT</span>
          <h2 class="h2">반갑습니다, 90주차장을 찾아주셔서 감사합니다.</h2><br><br>
          <h3>주차 요금 안내</h3>
          <p>- 입차 후, <strong>2시간까지 무료</strong> (이후 1분당 100원)</p>
          <p>- 90MALL에서 <strong>주차 당일 구매한 영수증</strong> 있을 경우, <strong>주차요금 무료</strong></p>
          <br>
          <p>90주차장은 무인정산 시스템으로 운영되고 있습니다.</p>
          <p><strong>정기권 구매는 1층 안내데스크</strong>로 방문바랍니다.</p>
          </div>
        </section>
      </div>
<% include footer.ejs %>
