
<% include header.ejs %>
      <% var error;
      if(error == null){
        error ="";}
        %>
      <div class="container">
        <section class="login_group">
          <div class="login_info">
            <h1>관리자 로그인</h1><br/>
          <span>관리자 페이지를 이용하시려면 </span><span>로그인해주세요.</span>
          </div>
          <form action="/admin" method="post">
            <div class="login_input">
            <p>I D : <input type="text" id="id" name="id" placeholder="아이디를 입력하세요." autocomplete="off"></p>
            <p>PW: <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요." autocomplete="off"></p>
            </div>
            <input type="submit" id="login_btn" value="로그인">
          </form>
          <%= error %>
        </section>
      </div>
<% include footer.ejs %>


